* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

* {
  font-family: Roboto Condensed;
}

@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Black.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-BlackItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraBold.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraLight.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraLightItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Medium.ttf);
}
.container,
.container-md,
.container-sm {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

.dark .contact__btn {
  background-color: grey !important;
}

.nav {
  height: 80px;
  background-color: #0D0D0D;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav__sec {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__sec .nav__logo img {
  padding-right: 65px;
}

.nav__links-btns {
  padding-left: 65px;
  border-left: 1px solid rgb(160, 160, 160);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.nav__links-btns ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
}
.nav__links-btns a {
  text-decoration: none;
  color: var(--White, #FFF);
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.nav__btn .contact__btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd2a4;
  color: #161722;
  padding: 20px 48px;
}
.nav__btn .contact__btn:hover {
  background-color: #f2c79b;
}
.nav__btn .dark-light {
  background-color: #0d0d0d;
}

.menu {
  background-color: #0D0D0D;
  display: none;
}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  transition: 0.5s;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background-color: transparent;
}

.toggle__links a {
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  color: white;
}

.toggle__ul {
  position: absolute;
  text-align: center;
  top: 30%;
  right: 40%;
  list-style-type: none;
}

.toggle__btn {
  position: absolute;
  top: 60%;
  left: 27%;
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd2a4;
  color: #161722;
}
.toggle__btn:hover {
  background-color: #f2c79b;
}

@media (max-width: 900px) {
  .nav__links, .contact__btn, .dark-light {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }
  .nav__sec {
    justify-content: space-between;
  }
}
.love-compassion .love-compassion__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.love-compassion .love-compassion__content span {
  color: var(--Black, #161722);
  /* Label 02 */
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.love-compassion .love-compassion__content h2 {
  color: var(--Black, #161722);
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.love-compassion .love-compassion__content p {
  color: var(--Black, #161722);
  text-align: center;
  max-width: 768px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.love-compassion .love-compassion__card-box {
  margin-top: 112px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.love-compassion .love-compassion__card-box .love-compassion_card {
  cursor: pointer;
  transition: 0.5s;
}
.love-compassion .love-compassion__card-box .love-compassion_card img {
  max-width: 293px;
}
.love-compassion .love-compassion__card-box .love-compassion_card:hover {
  transform: scale(1.2);
}
@media (max-width: 1000px) {
  .love-compassion .love-compassion__card-box {
    margin-top: 112px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .love-compassion .love-compassion__card-box .love-compassion_card:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 980px) {
  .love-compassion .love-compassion__card-box {
    margin-top: 112px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  .love-compassion .love-compassion__card-box .love-compassion_card:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 350px) {
  .love-compassion .love-compassion__card-box .love-compassion_card {
    cursor: pointer;
    transition: 0.5s;
  }
  .love-compassion .love-compassion__card-box .love-compassion_card img {
    max-width: 150px;
  }
  .love-compassion .love-compassion__card-box .love-compassion_card:hover {
    transform: scale(1.1);
  }
}
.love-compassion .love-compassion__bottom-content {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.love-compassion .love-compassion__bottom-content div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.love-compassion .love-compassion__bottom-content div span {
  color: var(--Black, #161722);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.love-compassion .love-compassion__bottom-content div h4 {
  max-width: 371px;
  color: var(--Black, #161722);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
.love-compassion .love-compassion__bottom-content div p {
  max-width: 371px;
  color: var(--Black, #161722);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 900px) {
  .love-compassion .love-compassion__bottom-content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
  }
  .love-compassion .love-compassion__bottom-content div * {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}

header {
  margin-top: 80px;
  background-image: url(/assets/images/about/header-bg.png);
  background-size: cover;
  max-width: 100%;
  height: 420px;
  border: 2px solid red;
}

.header {
  padding-top: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  border: 2px solid red;
}
.header p {
  color: var(--Black, #161722);
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.header h1 {
  color: var(--Black, #161722);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}

main .love-compassion .love-compassion__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .love-compassion .love-compassion__content span {
  color: var(--Black, #161722);
  /* Label 02 */
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
main .love-compassion .love-compassion__content h2 {
  color: var(--Black, #161722);
  margin-bottom: 32px;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
main .love-compassion .love-compassion__content p {
  color: var(--Black, #161722);
  text-align: center;
  max-width: 768px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
main .love-compassion .love-compassion__card-box {
  margin-top: 112px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
main .love-compassion .love-compassion__card-box .love-compassion_card {
  cursor: pointer;
  transition: 0.5s;
}
main .love-compassion .love-compassion__card-box .love-compassion_card img {
  max-width: 293px;
}
main .love-compassion .love-compassion__card-box .love-compassion_card:hover {
  transform: scale(1.2);
}
@media (max-width: 1000px) {
  main .love-compassion .love-compassion__card-box {
    margin-top: 112px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  main .love-compassion .love-compassion__card-box .love-compassion_card:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 980px) {
  main .love-compassion .love-compassion__card-box {
    margin-top: 112px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: center;
  }
  main .love-compassion .love-compassion__card-box .love-compassion_card:hover {
    transform: scale(1.1);
  }
}
@media (max-width: 350px) {
  main .love-compassion .love-compassion__card-box .love-compassion_card {
    cursor: pointer;
    transition: 0.5s;
  }
  main .love-compassion .love-compassion__card-box .love-compassion_card img {
    max-width: 150px;
  }
  main .love-compassion .love-compassion__card-box .love-compassion_card:hover {
    transform: scale(1.1);
  }
}
main .love-compassion .love-compassion__bottom-content {
  margin-top: 130px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .love-compassion .love-compassion__bottom-content div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
main .love-compassion .love-compassion__bottom-content div span {
  color: var(--Black, #161722);
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
main .love-compassion .love-compassion__bottom-content div h4 {
  max-width: 371px;
  color: var(--Black, #161722);
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}
main .love-compassion .love-compassion__bottom-content div p {
  max-width: 371px;
  color: var(--Black, #161722);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 900px) {
  main .love-compassion .love-compassion__bottom-content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
  }
  main .love-compassion .love-compassion__bottom-content div * {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
}