* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

button {
  border: none;
  cursor: pointer;
}

* {
  font-family: Roboto Condensed;
}

@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Black.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-BlackItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Bold.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-BoldItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraBold.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraBoldItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraLight.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-ExtraLightItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Italic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-LightItalic.ttf);
}
@font-face {
  font-family: Roboto Condensed;
  src: url(../../assets/fonts/RobotoCondensed-Medium.ttf);
}
.container,
.container-md,
.container-sm {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.container {
  max-width: 1320px;
}

.container-md {
  max-width: 1064px;
}

.container-sm {
  max-width: 808px;
}

.dark .contact__btn {
  background-color: grey !important;
}

.nav {
  height: 80px;
  background-color: #0D0D0D;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav__sec {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__sec .nav__logo img {
  padding-right: 65px;
}

.nav__links-btns {
  padding-left: 65px;
  border-left: 1px solid rgb(160, 160, 160);
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.nav__links-btns ul {
  display: flex;
  gap: 48px;
  list-style-type: none;
}
.nav__links-btns a {
  text-decoration: none;
  color: var(--White, #FFF);
  text-align: right;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.nav__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
}
.nav__btn .contact__btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd2a4;
  color: #161722;
  padding: 20px 48px;
}
.nav__btn .contact__btn:hover {
  background-color: #f2c79b;
}
.nav__btn .dark-light {
  background-color: #0d0d0d;
}

.menu {
  background-color: #0D0D0D;
  display: none;
}

#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
  transition: 0.5s;
}

#navbar-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 20px;
  background-color: transparent;
}

.toggle__links a {
  display: inline-block;
  margin-bottom: 30px;
  text-decoration: none;
  text-align: center;
  font-size: 28px;
  color: white;
}

.toggle__ul {
  position: absolute;
  text-align: center;
  top: 30%;
  right: 40%;
  list-style-type: none;
}

.toggle__btn {
  position: absolute;
  top: 60%;
  left: 27%;
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd2a4;
  color: #161722;
}
.toggle__btn:hover {
  background-color: #f2c79b;
}

@media (max-width: 900px) {
  .nav__links, .contact__btn, .dark-light {
    display: none;
  }
  .menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 20px;
  }
  .nav__sec {
    justify-content: space-between;
  }
}
body {
  background: #f5f2f0;
}

.blogs {
  padding-top: 200px;
}
.blogs .blogs-cards {
  background-color: #fff;
  padding: 56px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 48px;
}
.blogs h2 {
  color: #161722;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
.blogs h1 {
  color: #161722;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
  padding-bottom: 64px;
}
.blogs .blogs-card h2 {
  padding-top: 15px;
  width: 519px;
  color: #161722;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
  margin-left: -20px;
}
.blogs .blogs-card p {
  padding-top: 16px;
  width: 519px;
  color: #161722;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.78;
  padding-bottom: 32px;
}

.blogs-read-btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  background-color: #ffd2a4;
  color: #161722;
}
.blogs-read-btn:hover {
  background-color: #f2c79b;
}
.blogs-read-btn a {
  text-decoration: none;
  color: var(--Black, #1c1d28);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
}

.name {
  padding-top: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.name h3 {
  color: #161722;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.blog-post {
  padding-top: 150px;
}
.blog-post h1 {
  color: #161722;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.48px;
  text-transform: uppercase;
}
.blog-post .blog-post-cards {
  padding-top: 64px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}
.blog-post .blog-post-cards .blog-post-card {
  background: #fff;
  padding-bottom: 48px;
}
.blog-post .blog-post-cards .blog-post-card h3 {
  padding-top: 48px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.96px;
  text-transform: uppercase;
  background: var(--Gradient, linear-gradient(110deg, #a54e2b -53.83%, #dc9853 62.61%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 32px;
}
.blog-post .blog-post-cards .blog-post-card h2 {
  width: 238px;
  color: #161722;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  padding-top: 16px;
  padding-left: 32px;
}
.blog-post .blog-post-cards .blog-post-card p {
  padding-top: 16px;
  width: 238px;
  color: #161722;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.78;
  padding-bottom: 48px;
  padding-left: 32px;
}
.blog-post .blog-post-cards .blog-post-card h4 {
  color: #161722;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 4px;
  padding-left: 32px;
}
.blog-post .blog-post-cards .blog-post-card .line {
  height: 16px;
}
.blog-post .blog-post-cards .blog-post-card .blog-post-card:hover .line {
  background-color: #ffd0a0;
}