@use "../utils/mixins" as mxn;

.up-coming {
  padding-top: 150px;
  h2 {
    color: #161722;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 20px;
  }
  h1 {
    width: 554px;
    color: #161722;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.48px;
    text-transform: uppercase;
    margin: 0 auto;
    padding-bottom: 64px;
  }
  .sermons-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .sermon-card {
      background: #fff5eb;
    }
    h3 {
      color: #161722;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.24px;
      text-transform: uppercase;
      padding-left: 388px;
      padding-top: 30px;
    }
    .date {
      display: flex;
      justify-content: space-around;
      align-items: center;
      .event {
        padding-top: 0;
        padding-left: 29px;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        background: var(
          --Gradient,
          linear-gradient(110deg, #a54e2b -53.83%, #dc9853 62.61%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      .date-1 {
        padding-top: 0;
        padding-left: 180px;
        color: #161722;
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
      }
    }
    h2 {
      padding-top: 20px;
      width: 250px;
      padding-left: 45px;
      color: #161722;
      font-size: 24px;
      font-weight: 700;
      letter-spacing: -0.24px;
      text-transform: uppercase;
    }
    p {
      width: 326px;
      color: #161722;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      opacity: 0.78;
      padding-left: 50px;
    }
    .icon {
      padding-left: 50px;
      display: flex;
      align-items: center;
      gap: 15px;
      p {
        padding-left: 0;
        padding-top: 20px;
        width: 147px;
        color: #161722;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
      }
    }
  }
}

.sermon__register__btn {
  @include mxn.secondary-btn;
  display: block;
  margin-top: 32px;
  margin-left: 80px;
  a {
    text-decoration: none;
    color: white;
  }
}
