    <section class="container">
      <div class="events up-coming">
        <h1>View All Events</h1>
        <div class="events-cards">
          <div class="sermon-card lines">
            <h3 class="date-1">20</h3>
            <h3 class="date-2">JULY</h3>
            <h3 class="event">Upcoming Event</h3>
            <h2>100 random acts of kindness</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon.svg" alt="" />
              <p>Friday 23:39 IST Saturday 11:20 ISD</p>
            </div>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon-2.svg" alt="" />
              <p class="icon-p" style="width: 200px">
                No 233 Main St. New York, United States
              </p>
            </div>
            <div class="line"></div>
          </div>
          <div class="sermon-card lines">
            <h3 class="date-1">20</h3>
            <h3 class="date-2">JULY</h3>
            <h3 class="event">Upcoming Event</h3>

            <h2>Faith is a process, not a destination</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon.svg" alt="" />
              <p>Friday 23:39 IST Saturday 11:20 ISD</p>
            </div>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon-2.svg" alt="" />
              <p class="icon-p" style="width: 200px">
                No 233 Main St. New York, United States
              </p>
            </div>
            <div class="line"></div>
          </div>
          <div class="sermon-card lines">
            <h3 class="date-1">20</h3>
            <h3 class="date-2">JULY</h3>
            <h3 class="event">Upcoming Event</h3>

            <h2>there is nothing impossible</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon.svg" alt="" />
              <p>Friday 23:39 IST Saturday 11:20 ISD</p>
            </div>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon-2.svg" alt="" />
              <p class="icon-p" style="width: 200px">
                No 233 Main St. New York, United States
              </p>
            </div>
            <div class="line"></div>
          </div>
          <div class="sermon-card lines">
            <h3 class="date-1">20</h3>
            <h3 class="date-2">JULY</h3>
            <h3 class="event">Upcoming Event</h3>

            <h2>WATCH AND LISTEN TO OUR SERMONS</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon.svg" alt="" />
              <p>Friday 23:39 IST Saturday 11:20 ISD</p>
            </div>
            <div class="icon">
              <img src="../assets/images/sermons/sermons-icon-2.svg" alt="" />
              <p class="icon-p" style="width: 200px">
                No 233 Main St. New York, United States
              </p>
            </div>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </section>