<section class="container">
  <div class="up-coming">
    <h2>Upcoming SERMONS</h2>
    <h1>join us and become part of something great</h1>
    <div class="sermons-cards">
      <div class="sermon-card">
        <h3 class="date-1">20</h3>
        <div class="date">
          <h3 class="event">Upcoming Event</h3>
          <h3 class="date-1">JULY</h3>
        </div>
        <h2>WATCH AND LISTEN TO OUR SERMONS</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor.
        </p>
        <div class="icon">
          <img src="../assets/images/sermons/sermons-icon.svg" alt="" />
          <p>Friday 23:39 IST Saturday 11:20 ISD</p>
        </div>
        <div class="icon">
          <img src="../assets/images/sermons/sermons-icon-2.svg" alt="" />
          <p class="icon-p" style="width: 200px">
            No 233 Main St. New York, United States
          </p>
        </div>
        <button class="sermon__register__btn">Register</button>
      </div>
      <div class="sermon-card">
        <img
          width="845px"
          src="../assets/images/sermons/up-coming.png"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
