<footer>
    <div class="footer__sec container">
      <div class="footer__info">
        <img src="./assets/images/home/footer-logo.svg" alt="logo">
        <p>
          © Copyright Finsweet 2022
        </p>
        <a href="tel:(480) 555-0103">
          (480) 555-0103
        </a>
        <a href="#">
          4517 Washington Ave. 
        </a>
        <a href="#">
          finsweet@example.com
        </a>
      </div>
      <div class="quicklinks">
        <h4>
          Quicklinks
        </h4>
        <a href="./pages/about.html">
          About us
        </a>
        <a href="./pages/sermons.html">
          Sermons
        </a>
        <a href="#">
          Events
        </a>
        <a href="./pages/blog.html">
          Blog
        </a>
      </div>
      <div class="footer__contacts">
        <h4>
          Connect 
        </h4>
        <img src="./assets/images/home/facebook.svg" alt="facebook icon">
        <img src="./assets/images/home/twitter.svg" alt="twitter icon">
        <img src="./assets/images/home/linkedin.svg" alt="linkedin">
      </div>
      <div class="footer__subscribe">
        <h2>
          Subscribe to get Latest Updates and News
        </h2>
        <input placeholder="Yourmail@gmail.com" type="email">
        <div class="footer__btn">
          <button>
            Subscribe
          </button>
        </div>
      </div>
    </div>
  </footer>