@use "variables" as var;

@mixin grid($column: 3, $gap: 20px) {
  display: grid;
  grid-template-columns: $column;
  gap: $gap;
}

@mixin btn {
  padding: 24px 64px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
}

@mixin primary-btn {
  @include btn;
  background-color: var.$primary-color;
  color: var.$black-color;
  &:hover {
    background-color: #f2c79b;
  }
}

@mixin secondary-btn {
  @include btn;
  background-color: var.$black-color;
  color: var.$primary-color;
  &:hover {
    color: var.$white-color;
  }
}
